*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f4f4f4;
}

.container{
    width: 500px;
    margin: 50px auto;
}

h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: bold;
}

.form-group{
    margin-bottom: 25px;
}

label{
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #333;
    color: white;
    font-size: 18px;
}

input::placeholder{
    color: #999;
}

button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #0d6efd;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}

.error{
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    display: none;
}